html, body {
	width: 100%;
	height: 100%;
}

body {
	background: url('img/dark-noise.png') repeat scroll 0 0 #000;
	color: #ccc;
}

textarea {
	width: 100%;
	height: 85%;
	border: solid 2px #222;
	border-radius: 10px;
	background-color: #222;
	resize: none;
	color: #ccc;
	font-size: 120%;

    -moz-transition:all 200ms ease;
    -webkit-transition:all 200ms ease;
    -o-transition:all 200ms ease;
	-ms-transition:all 200ms ease;
}

textarea:focus {
	background-color: #777;
	border: solid 2px #777;
	color: #111;
}

.container {
	height: 100%;
}

.content {
	height: 100%;
}

.full {
	height: 80%;
}

.logo {
	width: 200px;
	height: 200px;
}

.meta {
	text-align: right;
}

.info {
	text-align: right;
}

.lang-select {
	float: right;
	margin: 13px 0px 0px;
	padding: 3px;
	border: solid 2px #444;
	border-radius: 4px;
	background-color: #ddd;
	color: #444;
}

.slide-header {
	margin: 10px;
}

/* Bootstrap override */
h1, h2, h3 {
	margin-top: 10px;
}

.btn {
	margin: 2px 2px 2px 0px;
}

/* CodeMirror override */
.CodeMirror {
	height: 85%;
	border-radius: 10px;
	font-size: 120%;
}
