<!DOCTYPE html>
<html lang="en">

<head>
	{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="user-scalable=no">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/glide.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.glide.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	<title>Run / Code</title>
	{% endblock %}
</head>

<body>
	{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-7 action">{% block action %}{% endblock %}</div>
			<div class="col-3 info">{% block info %}{% endblock %}</div>
			<div class="col-2 meta">{% block meta %}{% endblock %}</div>
		</div>
		<div class="row full">
			<div class="col-12 content">{% block content %}{% endblock %}</div>
		</div>
	</div>
	{% endblock %}
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>
