{% extends "base.html" %}



{% block head %}
	<script src="{{ url_for('static', filename='codemirror/lib/codemirror.js') }}"></script>
	<script src="{{ url_for('static', filename='codemirror/mode/shell/shell.js') }}"></script>
	<script src="{{ url_for('static', filename='codemirror/mode/python/python.js') }}"></script>
	<script src="{{ url_for('static', filename='codemirror/mode/ruby/ruby.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.linedtextarea.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.glide.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/script.head.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/glide.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='codemirror/lib/codemirror.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/solarized.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.linedtextarea.css') }}">
{% endblock %}



{% block action %}
	<a class="btn btn-lg btn-primary" href="">Run</a>
	<a class="btn btn-lg btn-success" href="">Stop</a>
	<a class="btn btn-lg btn-default" href="">Save</a>
{% endblock %}



{% block info %}
	<h3 onclick="change_theme();">Project Name</h3>
{% endblock %}



{% block meta %}
	<h3><a href="">log out</a></h3>
{% endblock %}



{% block content %}
<div class="slider">
	<div class="slides">
		<div class="slide">
			<div class="slide-header">
				<h1 style="display:inline;">Code</h1>
				<select class="lang-select" size="1"></select>
			</div>
			<textarea id="code" name="code"></textarea>
		</div>
		<div class="slide">
			<h1>Status</h1>
			<textarea class="lined" id="status" name="status"></textarea>
		</div>
		<div class="slide">
			<h1>Preference</h1>
			<img src="{{ url_for('static', filename='css/img/Run_Code_Logo.png') }}" class="img-responsive logo" alt="Run / Code">
		</div>
	</ul>
</div>
<script src="{{ url_for('static', filename='js/script.body.js') }}"></script>
{% endblock %}
